

@import "application.css";

/*@import "fonts.css";
@import "oreilly.css";
@import "syntax.css";
@import "thebe.css";*/
/*

in js we addclass .page to section[data-type=chapter]
*/

.page {
  padding: 2rem 4rem;
}

.cell {
  width: 100% !important;
  margin-left: 0% !important;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.5em !important;
}

section.page > h1:first-of-type {
  font-size: 4em;
  margin-bottom: 1.5em;
}